body {
    background-color: beige;
}

h1 {
    text-align: center;
    font-size: 7rem;
}

h2 {
    text-align: center;
    font-size: 7rem;
}

table {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: auto auto;
    font-size: 7rem;
    background-color: white;
}

td {
    border: 1px solid black;
}

.clear {
    background-color: skyblue;
    width: 100%;
}

#submit {
    text-align: center;
    font-size: 7rem;
    width: 50%;
    background-color: greenyellow;
    border: 1px solid black;
    margin: auto auto;
    margin-top: 5rem;
}

.info {
    font-size: 2rem;
    text-align: center;
    width: 25%;
}

.luke-info{
    float: left;
}

.nick-info {
    float: right;
}

.description {
    font-size: 3rem;
    text-align: center;
}

#description-field{
    height: 3rem;
    width: 30%;
    font-size: 3rem;
    text-align: center;
}

.selector{
    float: left;
    width: 50%;
}

.selector-active {
    background-color: green;
    color: yellow;
}

.direct {
    width: 50%;
    margin: 1rem auto 0;
    border: 1px solid black;
    padding: 3px;
}

.direct-label {
    margin-top: 1rem;
    width: 50%%;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.direct__button {
    font-size: 3rem;
    text-align: center;
    width: 10%;
    margin: auto auto;
}

.direct__button--yes {
    width: 48%;
    display: inline-block;
}

.direct__button--no {
    width: 48%;
    float: right;
    display: inline-block;
}

.direct__button--active {
    background-color: whitesmoke;
    border: .2rem solid red;
    border-radius: 1rem;
    margin: -.2rem;
}
